.Detail{
    height: 100%;
    background-color: var(--bg-card-color);
}

.Detail .h1{
    color: var(--text-color-2);
    background-color: var(--color);
}

.Detail .container-img{
    position: relative;
    width: auto;
    background-color: black;
    margin-bottom: auto;
}

.Detail .img-fluid{
    min-width: 350px;
    max-height: 600px;
    object-fit: fill;
    pointer-events: none;
}

.Detail .id{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

@media screen and (min-width: 768px) {
    .Detail .img-fluid{
        min-width: 720px;
        min-height: 720px;
        max-height: 720px;
        object-fit: fill;
        pointer-events: none;
    }
}