.home{
    /* height: 100%; */
}

.home__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
    margin-bottom: 4em;
}

@media screen and (min-width:966px) {
    .home__container{
        grid-template-columns: 1fr 1fr;
    }
}

.home__searched,
.home__recommended{
    width: 100%;
    max-width: 600px;
    margin: auto;
    /* overflow: hidden; */
}

@media screen and (min-width:666px) {
    .home__searched{
        margin: 0;
        margin-left: auto;
    }
    .home__recommended{
        margin: 0;
        margin-right: auto;
    }
}

.home__ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.home__ul .rellenar{
    cursor:auto;
    background-color: var(--bg-card-color);
}

.home .btn{
    height: 2.65em;
    background-color: var(--bg-card-color);
    color: var(--text-color-1);
    border-radius: 0;
}

@media screen and (min-width:666px) {
    .home .btn{
        border-radius: var(--border-radius);
    }
}

.home .btn:hover{
    background-color: var(--color);
    color: var(--text-color-2);
}

.home__recommended .home__li{
    transform: translate(-100%);
    animation: appearR .8s forwards;
}
.home__recommended .home__li:nth-child(2){animation-delay: .2s;}
.home__recommended .home__li:nth-child(3){animation-delay: .4s;}
.home__recommended .home__li:nth-child(4){animation-delay: .6s;}
.home__recommended .home__li:nth-child(5){animation-delay: .8s;}

@keyframes appearR {
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0%);
    }
}

.home__searched .home__li{
    transform: translate(100%);
    animation: appearS .8s forwards;
}

.home__searched .home__li:nth-child(2){animation-delay: .2s;}
.home__searched .home__li:nth-child(3){animation-delay: .4s;}
.home__searched .home__li:nth-child(4){animation-delay: .6s;}
.home__searched .home__li:nth-child(5){animation-delay: .8s;}

@keyframes appearS {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(0%);
    }
}

.home__last-search{
    color: var(--text-color-2);
    background-color: var(--color);
    padding: .5em;
    text-align: left;
}
@media screen and (min-width:666px) {
    .home__last-search{
        border-radius: var(--border-radius);
    }
}

.home__span-last-search{
    color: var(--text-color-1);
}