.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
}

@media screen and (min-width:666px) {      
  .App{
    padding: 0 1em 1em;
  }
}

.app-container-grid{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}