:root{
    --bg-color:#F9F3F3;
    --bg-card-color:rgb(210, 210, 210);
    --color:#187de2;
    --color-hover:#4d9dec;
    --text-color-1:#151515;
    --text-color-2:#F9F3F3;

    --line-color-1:#187de2;
    --line-color-2:#187de260;
    --line-color-3:#187de220;

    --border-radius: 5px;
    --transition:background-color .3s ease-in-out, color, .3s ease-in-out;
}

.dark{
    --bg-color:#151515;
    --bg-card-color:#222;
    --text-color-1:#F9F3F3;
    --text-color-2:#151515;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.color{
    color: var(--color);
}

.title{
    text-transform: uppercase;
    color: var(--text-color-1);
}

/****************  btn  *********************/

.btn{
    display: block;
    padding: .8em 1.4em;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 2px;
    border-style: none;
    cursor: pointer;
    transition: var(--transition), border-color .3s ease-in-out;
}

@media screen and (min-width:666px) {
    .btn{
        border-radius: 5px;
    }
}

.btn-1{
    background: var(--bg-color);
    color: var(--color);
    border-color: var(--color);
}

.btn-1:hover{
    color: var(--text-color-1);
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

.btn-2{
    color: var(--bg-card-color);
    border-color: var(--color);
    background-color: var(--color);
}

.btn-2:hover{
    color: var(--bg-color);
    border-color: var(--color-hover);
    background-color: var(--color-hover);
}



@media screen and (min-width:666px) {
    
}
@media screen and (min-width:966px) {
    
}
@media screen and (min-width:1440px) {
    
}