:root{
  --bg-color:#dcdcdd;
  --bg-card-color:#F9F3F3;
  --color:#FFD369;
  --text-color:#222831;
  --text-color-2:#FFF;
}

.dark{
  --bg-color:#222831;
  --bg-card-color:#393E46;
  --color:#FFD369;
  --text-color:#EEEEEE;
  --text-color-2:#000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-warning:hover{
  background-color: var(--color) !important;
}

.btn-outline-warning{
  color: var(--text-color) !important;
  font-weight: bolder !important;
  border-color: var(--color) !important;
}
.btn-outline-warning:hover{
  color: var(--text-color-2) !important;
  background-color: var(--color) !important;
}